<h3 class="h3"><br/>Details</h3>
  <span class='details'>
  <ul>
  <li><a href="/SiteSurveyKML/k10net.kml">K10 Live<br>(loads in Google Earth)</a></li>
  <li><a href="/gdsManager/status.html">GDS manager status<br>(also links to pyraptord status)</a></li>
  <li><a href="/SiteSurveyKML/k10planStatus.html">Plan status</a></li>
  <li><a href="https://babelfish.arc.nasa.gov/trac/roversw/wiki/GdsStartupInstructions">GDS startup instructions<br>(includes how to monitor microraptor)</a></li>
  </ul>
  </span>
</span>