{% extends "StatusBoardSiteCustomization.html" %}
{% block headExtras %}
<script src="{{ MEDIA_URL }}external/js/jquery.min.js"></script>
<script src="{{ MEDIA_URL }}jquery/js/jquery.countdown.js"></script>
<script src="{{ MEDIA_URL }}jquery/js/jquery.timers-1.2.js"></script>
<script type="text/javascript">
var myDates = [];
var scheduleItemCount = 0;
var lastScheduleHTML = "";
var remoteTimezoneOffset = {{ remoteTimezoneOffset }};
var today = new Date();


$(function () {
//	$('#elapsedTimeField').countdown({since: today, format: "HM", compact:true});
        updateDynamicElements();
//	$('#scheduleTimer1').countdown({until: new Date(myDates[0]), format:"HM", compact:true});
        $(window).everyTime('10s', function(i) { updateDynamicElements() });
});

function updateDynamicElements() {
	{% block updateDynamicJavascript %}
  		updateServerTimestamp();
  		updateAnnouncements();
  		updateSchedule();
	{% endblock updateDynamicJavascript %}

}

function updateAnnouncements() {
  $.get('{% url announcements.html %}', function(data) {
    $('#announceSection').html(data);
  })
}

function updateSchedule() {
  $.getJSON('{% url schedule.json %}', function(data) {
    if (lastScheduleHTML != data.schedHtml) {
      $('#scheduleSection').html(data.schedHtml);
      myDates = data.localTimes;
      scheduleItemCount = data.dateCount;
      if (scheduleItemCount != 0) {
//        $('#scheduleTimer1').countdown({until: new Date(myDates[0]),
//          format:"HM", compact:true});
		updateSchedRows();
      }
    }
    lastScheduleHTML = data.schedHtml;
  })
}

function updateServerTimestamp() {
  $.getJSON('{% url serverDatetime.json %}', function(data) {

      dateStr = data.dayName + " " + data.month + "/" + data.day;
      $('#date').html(dateStr);
      timestampStr = "{{ localTimezone }}: "  + data.hour + ":" + data.min
      
      $('#serverTimestamp').html(timestampStr);
     
      if (remoteTimezoneOffset != 0){
	      var hourInt = parseInt(data.hour, 10);
	      hourInt = hourInt + remoteTimezoneOffset;
	      remoteTimestampStr = "{{ remoteTimezone }}: " + hourInt + ":" + data.min
	      $('#remoteTimestamp').html(remoteTimestampStr);
      }
  })
}

function zeroPad(num,count)
{
	var numZeropad = num + '';
	while(numZeropad.length < count) {
		numZeropad = "0" + numZeropad;
	}
	return numZeropad;
}

function selectSchedRow(num) {
	var row = 0;
	var timerFieldSelector = '';

	for (i=1; i<=scheduleItemCount; i++) {
		row = document.getElementById('schedRow' + i);
		if (row != null){
			row.className = '';
		}
		timerFieldSelector = '#scheduleTimer' + i;
		$(timerFieldSelector).countdown('destroy');
	}
	row = document.getElementById('schedRow' + num);
	row.className = 'boldClass';
	timerFieldSelector = '#scheduleTimer' + num;
	$(timerFieldSelector).countdown({until: new Date(myDates[num-1]), format:"HM", compact:true});
}

function updateSchedRows() {
        var row = 0;
        var timerFieldSelector = '';

        for (i=1; i<=scheduleItemCount; i++) {
                row = document.getElementById('schedRow' + i);
                if (row != null){
                	row.className = 'boldClass';
        		}
                timerFieldSelector = '#scheduleTimer' + i;
        	$(timerFieldSelector).countdown({until: new Date(myDates[i-1]), format:"HM", compact:true});
	}
}

</script>

<style type="text/css">
<!--
.TightSpacePara {
	vertical-align: baseline;
	margin: 3px;
}

.h3 {
	vertical-align: baseline;
	margin: 3px;
	font-size: 24px;
	color:#66ccff;
	text-decoration: bold;
}

.h2 {
	vertical-align: baseline;
	margin: 3px;
	font-size: 18px;
	color:#66ccff;
	text-decoration: bold;
}
.details {
	font-size:14px;
}
.statusboard {
	float:left;
	width:80%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	color:#FFFF99;
}

a:link {color:#00ccff}
a:visited {color:#00ccff}
.time {
	#font-size:26px;
	text-decoration:bold;
}
.remoteTime {
	color:#FFFF33;
}
.localTime {
	color:#555533;
}
.linkblock {
	float:left;
	width:20%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
#        font-size: 23px;
    color:#FFFF99;
}

.timeLink {
	text-decoration: none;
}
.timeLink:visited {color:#FFFF33;font-decoration:none }
.timeLink:link { color: #FFFF33;font-decoration:none }
.boldClass {
	font-weight: bold;
}
li { padding-bottom: 10px; }
-->
</style>
{% endblock headExtras %}
{% block contents %}
<span class="statusboard">
{% block preAnnouncements %}
{% endblock preAnnouncements %}
{% block announcements %}
<h2 class="h2">Announcements</h3>
<span id='announceSection'></span>
{% endblock announcements %}

{% block preSchedule %}
{% endblock preSchedule %}
{% block schedule %}
<h2 class="h2"><br/>Schedule</h3>
<span id='scheduleSection'></span>
{% endblock schedule %}
</span>

<span class='linkblock'>
{% block currentTime %}
  <span class='time'>
  	<span id="date"></span><br/>
  	{% if remoteTimezoneOffset != 0 %}
		  <span class='remoteTime' id="remoteTimestamp" ></span><br/>
  	{% endif %}
  	<span class='localTime' id="serverTimestamp" ></span>
  </span>
{% endblock currentTime %}
{% block links %}
{% endblock links %}
</span>
{% block details %}
{% endblock details %}
{% endblock contents %}
