{% extends "base.html" %}
{% load url from future %}
{% block cssExtras %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style/status_board.css" ></link>
{% endblock %}
{% block scripts %}
  {{ block.super }}
<script src="{{ STATIC_URL }}external/js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}jquery/js/jquery.countdown.js"></script>
<script src="{{ STATIC_URL }}jquery/js/jquery.timers-1.2.js"></script>

<!--  stuff for score schedule -->
 <script src="{{ STATIC_URL }}jquery/js/jquery.dataTables.js"></script>
	<style type="text/css" title="currentStyle">
		@import "{{ STATIC_URL }}jquery/css/demo_page.css";
		@import "{{ STATIC_URL }}jquery/css/demo_table.css";
		.active_task {
			color:#OO6400;
		}
.alignRight {
  text-align: right;
}
.alignLeft {
  text-align: left;
}
	</style>
<!--  end stuff for score schedule -->

<script type="text/javascript">
var myDates = [];
var scheduleItemCount = 0;
var lastScheduleHTML = "";

// these will be populated by the server timestamp
var now = null;
var today = null;

$(function () {
//	$('#elapsedTimeField').countdown({since: today, format: "HM", compact:true});
        updateDynamicElements();
//	$('#scheduleTimer1').countdown({until: new Date(myDates[0]), format:"HM", compact:true});
        $(window).everyTime('10s', function(i) { updateDynamicElements() });
});

function updateDynamicElements() {
	{% block updateDynamicJavascript %}
  		updateServerTimestamp();
  		{% if STATUS_BOARD_ANNOUNCEMENTS %}
  		updateAnnouncements();
  		{% endif %}
  		
  		{% if STATUS_BOARD_SCHEDULE %}
  		updateSchedule();
  		{% endif %}
  		
  		{% if STATUS_BOARD_SCORE_SCHEDULE %}
  		updateSCORESchedule();
  		{% endif %}
	{% endblock updateDynamicJavascript %}

}

function updateServerTimestamp() {
    $.getJSON('{% url 'serverDatetime.json' %}', function(data) {
	$.each(data, function(index, value) {
	    // populate today's date
	    if (value.zone == "{{ STATUS_BOARD_DATE_TIMEZONE.name }}") {
		dateStr = value.dayName + " " + value.month + "/" + value.day;
	      	$('#date').html(dateStr);
	      	
	      	// Javascript dates have the month starting from 0.
	      	today = new Date(value.year, value.month - 1, value.day);
	      	now = new Date(value.year, value.month - 1, value.day, value.hour, value.min);
	      	//console.log("now is " + now);
	      	
	      	$('#today_timezonelabel').html("In " + value.zone + " time");
	    }
	    
	    // populate the times
      	    timestampStr = '<span style="width: 50px;">' + value.hour + ":" + value.min + '</span> ' + value.zone;
      	    var elementname = '#time' + (index+1)
      	    $(elementname).html(timestampStr);
	});
    })
}

function zeroPad(num,count)
{
	var numZeropad = num + '';
	while(numZeropad.length < count) {
		numZeropad = "0" + numZeropad;
	}
	return numZeropad;
}

{% if STATUS_BOARD_ANNOUNCEMENTS %}
function updateAnnouncements() {
  $.get('{% url 'announcements' %}', function(data) {
    $('#announceSection').html(data);
  })
}
{% endif %}

{% if STATUS_BOARD_SCHEDULE %}
function updateSchedule() {
  $.getJSON('{% url 'schedule.json' %}', function(data) {
    if (lastScheduleHTML != data.schedHtml) {
      $('#scheduleSection').html(data.schedHtml);
      myDates = data.localTimes;
      scheduleItemCount = data.dateCount;
      if (scheduleItemCount != 0) {
//        $('#scheduleTimer1').countdown({until: new Date(myDates[0]),
//          format:"HM", compact:true});
		updateSchedRows();
      }
    }
    lastScheduleHTML = data.schedHtml;
  })
}

function selectSchedRow(num) {
	var row = 0;
	var timerFieldSelector = '';

	for (i=1; i<=scheduleItemCount; i++) {
		row = document.getElementById('schedRow' + i);
		if (row != null){
			row.className = '';
		}
		timerFieldSelector = '#scheduleTimer' + i;
		$(timerFieldSelector).countdown('destroy');
	}
	row = document.getElementById('schedRow' + num);
	row.className = 'boldClass';
	timerFieldSelector = '#scheduleTimer' + num;
	$(timerFieldSelector).countdown({until: new Date(myDates[num-1]), format:"HM", compact:true});
}

function updateSchedRows() {
        var row = 0;
        var timerFieldSelector = '';

        for (i=1; i<=scheduleItemCount; i++) {
                row = document.getElementById('schedRow' + i);
                if (row != null){
                	row.className = 'boldClass';
        		}
                timerFieldSelector = '#scheduleTimer' + i;
        	$(timerFieldSelector).countdown({until: new Date(myDates[i-1]), format:"HM", compact:true});
	}
}

{% endif %}

<!--  stuff for score schedule -->

// today and now must be set in this page.
var activities = [];

var theScoreTable;

	function dateTimezoneShift ( dateObject ){
    		var tzAdjust =  parseInt({{ TIMEZONE_OFFSET }});
    		var locOffset =  (dateObject.getTimezoneOffset() * 60 * 1000 );
    		var utcTime = dateObject.getTime() + locOffset;
    		var adjustedTime = new Date(utcTime + tzAdjust) ;
    		return adjustedTime;
    }

	function formatTime(time, negative){
		var result;
		result = time.getHours();
		if (time.getMinutes() < 10){
			result = result + ":0" + time.getMinutes();
		} else {
			result = result + ":" + time.getMinutes();
		}
		if (negative){
			result += " ago"
		} 
		return result;
	}
	
	function formatDiff(diff, negative){
		var result = "";
		result = result + diff.hours;
		if (diff.minutes < 10){
			result = result + ":0" + diff.minutes;
		} else {
			result = result + ":" + diff.minutes;
		}
		if (negative){
			result += " ago";
		} else if (result == "0:00") {
			result = "NOW"
		}
		return result;
	}
	
function getRemainingTimeString(compareDate, now) {
	if (compareDate >= now){
		var diff = get_time_difference(now, compareDate);
		return formatDiff(diff, false);
	} else {
		var diff = get_time_difference(compareDate, now);
		return formatDiff(diff, true);
	}
	
}

function get_time_difference(earlierDate,laterDate)
{
       var nTotalDiff = laterDate.getTime() - earlierDate.getTime();
       var oDiff = new Object();
 
       oDiff.hours = Math.floor(nTotalDiff/1000/60/60);
       nTotalDiff -= oDiff.hours*1000*60*60;
 
       oDiff.minutes = Math.floor(nTotalDiff/1000/60);
       nTotalDiff -= oDiff.minutes*1000*60;
 
       return oDiff;
}

function updateSCORERows() {
	if (theScoreTable == null){
		theScoreTable = $('#scoreTable').dataTable({
			"bRetrieve": true,
			"aaData":activities,
			"bPaginate": false,
			"bLengthChange": false,
			"bFilter": false,
			"bSort": false,
			"bInfo": false,
"aoColumns": [{"sClass": "alignRight"}, {"sClass": "alignRight"}, {"sClass": "alignRight"}, {"sClass": "alignLeft"}, {"sClass": "alignLeft"}],
			"fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
				if ( aData[0] == "NOW" || aData[0][aData[0].length - 1] == "o")
				{
				   $('td:eq(0)', nRow).html( '<b style="color:green;">' + aData[0] + '</b>' );
				   $('td:eq(1)', nRow).html( '<b style="color:green;">' + aData[1] + '</b>' );
				   $('td:eq(2)', nRow).html( '<b style="color:green;">' + aData[2] + '</b>' );
				   $('td:eq(3)', nRow).html( '<b style="color:green;">' + aData[3] + '</b>' );
				   $('td:eq(4)', nRow).html( '<b style="color:green;">' + aData[4] + '</b>' );
				}
				return nRow;
				}
			});
	} else {
		theScoreTable.fnClearTable();
		theScoreTable.fnAddData(activities);
		//theScoreTable.fnUpdate(activities);
	}
	
}

function updateSCORESchedule() {
	  var scheduleURL = ("{{ SCORE_URL }}"
                     + "?showAll=true"
                     + "&startTime={{ SCORE_START_TIME }}"
                     + "&minuteSpan=720"
                     + "&timezone={{ STATUS_BOARD_DATE_TIMEZONE.name }}"
                     + "&callback=?");
      
      //console.log(scheduleURL);
      
	  $.ajax({
		  url: scheduleURL,
		  dataType: 'jsonp',
		  success: function(data) {
			  activities.length = 0;
			  var temp = data.activities;
			 
			  for (var i = 0; i < temp.length; i++) {
				  var current = temp[i];
				  var startDate = new Date(current.start);
				  var endDate = new Date(current.end);
					  
				  var include = true;
				  var rightNow = new Date();
				  if (rightNow > endDate){
					  var diff = new Date();
					  var delta = rightNow - endDate;
					  diff.setTime(delta);
					  if (diff.getHours() == 0){
						  if (diff.getMinutes() <= 15){
							  include = true;
						  }
					  }
					  include = false;
				  } 
				  
				  if (include){
			  		var activity = [getRemainingTimeString(startDate, rightNow),
			  		                formatTime(dateTimezoneShift(startDate)),
			                  		formatTime(dateTimezoneShift(endDate)),
			  		   				current.label,
			  		   				current.execution];
	  			  	activities.push(activity);
				  }
			  }
			  
			  if (activities.length > 0){
				  updateSCORERows();
			  }
		}
	  }
	  );
	}
</script>
<!--  end stuff for score schedule -->

{% endblock scripts %}

{% block contents %}

<span class="statusboard">

<span class='linkblock'>
{% block currentTime %}
  <span class='time'>
  	<span class='{{today_timeclass}}' id="date"></span><br/>
  	{% for t in STATUS_BOARD_TIMEZONES %}
  		<span style="color: {{ t.color }};" id="time{{forloop.counter}}" ></span><br/>
  	{% endfor %}
  </span>
{% endblock currentTime %}
{% block links %}
{% endblock links %}
</span>

{% if STATUS_BOARD_ANNOUNCEMENTS %}
{% block preAnnouncements %}
{% endblock preAnnouncements %}
{% block announcements %}
<h2 class="h2">Announcements</h2>
<span id='announceSection'></span>
{% endblock announcements %}
{% endif %}


{% if STATUS_BOARD_SCHEDULE %}
{% block preSchedule %}
{% endblock preSchedule %}
{% block schedule %}
<h2 class="h2"><br/>Schedule</h2>
<span id='scheduleSection'></span>
{% endblock schedule %}
{% endif %}

{% if STATUS_BOARD_SCORE_SCHEDULE %}
{% block preScoreSchedule %}
{% endblock preScoreSchedule %}
{% block scoreSchedule %}
<h2 class="h2"><br/>Score Schedule <span id="today_timezonelabel" style="color: {{ STATUS_BOARD_DATE_TIMEZONE.color }};" ></span></h2>
{% include "xgds_status_board/ScheduleFromSCORE.html" %}
{% endblock scoreSchedule %}
{% endif %}

{% block details %}
{% endblock details %}

</span>

{% endblock contents %}
