<table border="0" class="display" id="scoreTable" style="width:100%;">
	<thead>
		<tr>
			<th class="scoreHeader" width="8%" style="text-align: right; padding-right: 10px;">Start In</th>
			<th class="scoreHeader" width="8%" style="text-align: right; padding-right: 10px;">Start</th>
			<th class="scoreHeader" width="8%" style="text-align: right; padding-right: 10px;">End</th>
			<th class="scoreHeader" width="25%" style="text-align: left; padding-right: 10px;">Task</th>
			<th class="scoreHeader" width="45%" style="text-align: left; padding-right: 10px;">Execution</th>
		</tr>
	</thead>
	<tbody style="color:black;">
	</tbody>
</table>
