{% extends "dashboard_base.html" %}
{% block siteSection %}Recorder Status{% endblock %}

{% block contents %}
<p>
<div id="layers"></div>

<h3>Server  Status</h3>
<b>Load Average:</b>
<table>
  <tr>
    <td>1 minute</td>
    <td>5 minutes</td>
    <td>15 minutes</td>
  </tr>
  <tr>
    <td align=center bgcolor={{ load_status.load1mColor }}>{{ load_status.load1m }}</td>
    <td align=center bgcolor={{ load_status.load5mColor }}>{{ load_status.load5m }}</td>
    <td align=center bgcolor={{ load_status.load15mColor }}>{{ load_status.load15m }}</td>
  </tr>
</table>

<div id="subsystemStatus"></div>
{% endblock %}

{% block cssExtras %}
  {{ block.super }}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src='{{ EXTERNAL_URL }}/handlebars/handlebars.min.js'></script>
  <script src="{{ STATIC_URL }}xgds_status_board/js/subsystemStatusWidget.js" type="text/javascript"></script>
  {% for template_name, template in templates.items %}
  	<script type="text/handlebars" id="template-{{template_name}}">
		{{template|safe}}
	</script>
  {% endfor %}
{% endblock %}

{% block jsSetVars %}
  {{ block.super }}
  var settings = {
      'XGDS_STATUS_BOARD_SUBSYSTEM_STATUS_URL': '{{ XGDS_STATUS_BOARD_SUBSYSTEM_STATUS_URL }}'
  };
{% endblock %}

{% block jsInit %}
  {{ block.super }}
  $(function() {
      var widget = new xgds_status_board.SubsystemStatusWidget($('#subsystemStatus'));
      widget.update();
  });
{% endblock %}
