{% extends "dashboard_no_map.html" %}
{% block siteSection %}Recorder Status{% endblock %}

{% block cssExtras %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}xgds_status_board/css/status_board.css"></link>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src='{{ EXTERNAL_URL }}/handlebars/handlebars.min.js'></script>
  <script src="{{ STATIC_URL }}xgds_status_board/js/subsystemStatusWidget.js" type="text/javascript"></script>
  {% for template_name, template in templates.items %}
  	<script type="text/handlebars" id="template-{{template_name}}">
		{{template|safe}}
	</script>
  {% endfor %}
{% endblock %}

{% block jsSetVars %}
  {{ block.super }}
  var settings = {
      'XGDS_STATUS_BOARD_SUBSYSTEM_STATUS_URL': '{{ XGDS_STATUS_BOARD_SUBSYSTEM_STATUS_URL }}',
      'dataUrl': '{{settings.DATA_URL}}'
  };
{% endblock %}

{% block preLayout %}
	constructSubsystemMonitorView();
{% endblock %}

{% block jsInit %}
  {{ block.super }}
  $(function() {
      var widget = new xgds_status_board.SubsystemStatusWidget($('#subsystemStatus'));
      widget.update();
  });
{% endblock %}
