{% extends "dashboard_no_map.html" %}
{% block siteSection %}Recorder Status{% endblock %}

{% block inDashboard %}
<p>
<div id="layers"></div>

<div id="subsystemStatus"></div>
{% endblock inDashboard %}

{% block cssExtras %}
  {{ block.super }}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src='{{ EXTERNAL_URL }}/handlebars/handlebars.min.js'></script>
  <script src="{{ STATIC_URL }}xgds_status_board/js/subsystemStatusWidget.js" type="text/javascript"></script>
  {% for template_name, template in templates.items %}
  	<script type="text/handlebars" id="template-{{template_name}}">
		{{template|safe}}
	</script>
  {% endfor %}
{% endblock %}

{% block jsSetVars %}
  {{ block.super }}
  var settings = {
      'XGDS_STATUS_BOARD_SUBSYSTEM_STATUS_URL': '{{ XGDS_STATUS_BOARD_SUBSYSTEM_STATUS_URL }}'
  };
{% endblock %}

{% block jsInit %}
  {{ block.super }}
  $(function() {
      var widget = new xgds_status_board.SubsystemStatusWidget($('#subsystemStatus'));
      widget.update();
  });
{% endblock %}
