{% extends "base.html" %}
{% load static %}
{% block siteSection %}{{settings.HOSTNAME}} Status{% endblock %}

{% block siteTitle %}{{settings.HOSTNAME}} Status{% endblock siteTitle%}

{% block cssExtras %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'xgds_status_board/css/status_board.css' %}"></link>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src='{{ EXTERNAL_URL }}/handlebars/handlebars.min.js'></script>
  <script src="{% static 'xgds_status_board/js/subsystemStatusWidget.js' %}" type="text/javascript"></script>
  {% for template_name, template in templates.items %}
  	<script type="text/handlebars" id="template-{{template_name}}">
		{{template|safe}}
	</script>
  {% endfor %}
{% endblock %}


{% block content %}
{% block preContainer %}
{% endblock preContainer %}
<div id="container">
</div>
{% endblock content %}

{% block jsSetVars %}
  {{ block.super }}
  var settings = {
      'XGDS_STATUS_BOARD_SUBSYSTEM_STATUS_URL': '{{ XGDS_STATUS_BOARD_SUBSYSTEM_STATUS_URL }}',
      'dataUrl': '{{settings.DATA_URL}}'
  };
{% endblock %}

{% block jsInit %}
  {{ block.super }}
  $(function() {
  var newDiv = undefined;
  var widget = undefined;
  {% for groupName, subsystems in subsystemStatusDict.items %}
	newDiv = constructSubsystemMonitorView({{groupName}},{{subsystems}})
	widget = new xgds_status_board.SubsystemStatusWidget({{groupName}}, newDiv); //$('#subsystemStatus'));
    widget.update();
	{% endfor %}
      
  });
{% endblock %}

