/* status board stuff */

.button {
     background-color: grey;
     border: 0;
     color: white;
     padding: 10px 20px; 
     height: 30px;
}

.button:hover {
     background: grey;
     color: white;
     text-decoration: none;  
}


.fieldServicesDivLeft {
	float:left;
	padding-right: 50px;
}

h1 {
	padding-bottom: 30px;
}

.fieldServicesDiv {
	display: block;
}

tr#fieldLoadAverage td.oneMin {
	font-size: 20px;
}

tr#fieldLoadAverage td.fiveMin {
	font-size: 20px;
}

tr#basecampLoadAverage td.oneMin {
	font-size: 20px;
}

tr#basecampLoadAverage td.fiveMin {
	font-size: 20px;
}

table.loadAverageTable {
	width: 100%;
}

table.ev1Status th.left {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

table.ev2Status th.left {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}


tr td.left {padding-top: 5px; padding-bottom:5px}

td.subsystemName {
	font-weight: bold;
	font-size: 18px;
}

table.ev1Status {
	width: 100%;
}

table.ev2Status {
	width: 100%;
}

td.elapsedTime {
	font-size: 18px;
}

.service {
	padding-bottom: 20px;
	font-size: 18px;
	font-weight: bold;
}

.subsystemStatus th {
	text-align: center;	
}

.selected {
	background-color: #a1aec7;
}

.TightSpacePara {
	vertical-align: baseline;
	margin: 3px;
}

.details {
	font-size:14px;
}
.statusboard {
	font-size: 14px;
	color:#333333;  /* status board text body */
}

.time {
	text-decoration:bold;
}

.linkblock {
	padding: 5px;
	border: 2px solid #7a7a7a;
    color:#6a2b2b;  // color for plain text in the link block on the right including the bullets and date
}

.timeLink {
	text-decoration: none;
}
.timeLink:visited {color:#FFFF33;font-decoration:none }
.timeLink:link { color: #FFFF33;font-decoration:none }
.boldClass {
	font-weight: bold;
}
li { padding-bottom: 10px; }

.announcement1 { color:#af1b1b; text-decoration: bold;}
.announcement2 { color:#af1b1b; text-decoration: bold;}
.announcement3 { color:#af1b1b; text-decoration: bold;}
.announcement4 { color:#f7a33e; text-decoration: bold;}
.announcement5 { color:#f7a33e; text-decoration: bold;}
.announcement6 { color:#f7a33e; text-decoration: bold;}
.announcement7 { color:#14594d; }
.announcement8 { color:#14594d; }
.announcement9 { color:#14594d; }

table.display tr.even.row_selected td {
    background-color: #B0BED9;
}
table.display tr.odd.row_selected td {
    background-color: #9FAFD1;
}

.elapsedTime {
	border: 1px solid black;
}


/* end status board */

/* __BEGIN_LICENSE__
/*Copyright (c) 2015, United States Government, as represented by the 
/*Administrator of the National Aeronautics and Space Administration. 
/*All rights reserved.
/*
/*The xGDS platform is licensed under the Apache License, Version 2.0 
/*(the "License"); you may not use this file except in compliance with the License. 
/*You may obtain a copy of the License at 
/*http://www.apache.org/licenses/LICENSE-2.0.
/*
/*Unless required by applicable law or agreed to in writing, software distributed 
/*under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR 
/*CONDITIONS OF ANY KIND, either express or implied. See the License for the 
/*specific language governing permissions and limitations under the License.
/* __END_LICENSE__
