<div class="card" style="width: 20rem;">
	<div class="card-block">
		<h2 class="card-title">Persistent Errors</h2>	
		<table id="persistent_errors">
			<thead>
				<th>Time</th>
				<th>Origin</th>
				<th>Error</th>
				<th>Clear</th>
			</thead>
			<tbody>
				{{ table_of_errors }}
			</tbody>
		</table>
	</div>
</div>
