<div class="card" style="width: 20rem;">
	<div class="card-block">
		<h2 class="card-title">Pycroraptor Services</h2>
		<table>
			<thead>
				<th>Service</th>
				<th>Status</th>
			</thead>
			<tbody>
				{{ table_contents }}
				
			</tbody>
		</table>
	</div>
</div>
