<div class="card" style="width: 20rem;">
	<div class="card-block">
		<h2 class="card-title">Redis Statistics</h2>	
		<table id="persistent_errors">
			<thead>
				<th>Channel Name</th>
				<th>Latest Time</th>
				<th>Count</th>
			</thead>
			<tbody>
				{{ table }}
			</tbody>
		</table>
	</div>
</div>
