<!--  make sure subsystem tr id matches the subsystem name -->

<div class="grid-stack-item" data-gs-x="0" data-gs-y="1" data-gs-width="2" data-gs-height="2">
	<div class="grid-stack-item-content">
		<h3>EV1</h3>
		<div><img src="{{ ev1_icon }}" style="width:200px;height:200px;"></div>
		<table class="ev1Status">
			<tr>
				<th class="left"><strong>Subsystem</strong></th>
				<th class="left"><strong>Status</strong></th>
				<th class="left"><strong>Last updated</strong></th>
			</tr>
			<tr id="gpsController1">
				<td class="left subsystemName">GPS Controller</td>
				<td class="left status" style="border: 1px solid black;"></td>
				<td class="left updatedTime"></td>
			</tr>
			<tr id="gpsDataQuality1">
				<td class="left subsystemName">GPS Data Quality</td>
				<td class="left status" style="border: 1px solid black;"></td>
				<td class="left updatedTime"></td>
			</tr>
			<tr id="telemetryListener1">
				<td class="left subsystemName">Telemetry Listener</td>
				<td class="left status" style="border: 1px solid black;"></td>
				<td class="left updatedTime"></td>
			</tr>
			<tr id="video1">
				<td class="left subsystemName">Video</td>
				<td class="left status" style="border: 1px solid black;"></td>
				<td class="left updatedTime"></td>
			</tr>
			<tr id="FTIR">
				<td class="left subsystemName">FTIR</td>
				<td class="left status" style="border: 1px solid black;"></td>
				<td class="left updatedTime"></td>
			</tr>			
		</table>
	</div>
</div> 


<div class="grid-stack-item" data-gs-x="2" data-gs-y="1" data-gs-width="2" data-gs-height="2">
	<div class="grid-stack-item-content">
		<h3>EV2</h3>
		<div><img src="{{ ev2_icon }}" style="width:200px;height:200px;"></div>
		<table class="ev2Status">
			<tr>
				<th class="left"><strong>Subsystem</strong></th>
				<th class="left"><strong>Status</strong></th>
				<th class="left"><strong>Last updated</strong></th>
			</tr>
			<tr id="gpsController2">
				<td class="left subsystemName">GPS Controller</td>
				<td class="left status" style="border: 1px solid black;"></td>
				<td class="left updatedTime"></td>
			</tr>
			<tr id="gpsDataQuality2">
				<td class="left subsystemName">GPS Data Quality</td>
				<td class="left status" style="border: 1px solid black;"></td>
				<td class="left updatedTime"></td>
			</tr>
			<tr id="telemetryListener2">
				<td class="left subsystemName">Telemetry Listener</td>
				<td class="left status" style="border: 1px solid black;"></td>
				<td class="left updatedTime"></td>
			</tr>
			<tr id="video2">
				<td class="left subsystemName">Video</td>
				<td class="left status" style="border: 1px solid black;"></td>
				<td class="left updatedTime"></td>
			</tr>
			<tr id="ASD">
				<td class="left subsystemName">ASD Spectrometer</td>
				<td class="left status" style="border: 1px solid black;"></td>
				<td class="left updatedTime"></td>
			</tr>			
			<tr id="redCamera">
				<td class="left subsystemName">Red Camera</td>
				<td class="left status" style="border: 1px solid black;"></td>
				<td class="left updatedTime"></td>
			</tr>		
		</table>
	</div>
</div> 

<div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="2" data-gs-height="2">
	<div class="grid-stack-item-content">
		<h2>Field Services</h3>
		<!-- put overall field services status here -->

		<div class="fieldServicesDivLeft">
			<label for="videoRecorderTable1">Video Recorder</label>
			<table id="videoRecorderTable1">
				<tr>
					<th class="left"><strong>Status</strong></th>
					<th class="left"><strong>Log</strong></th>
				</tr>
				<tr id="videoRecorder1">
					<td class="left status" style="border: 1px solid black;"></td>
					<td class="left log"></td>
				</tr>
			</table>
		</div>
		
		<div class="fieldServicesDivRight">
			<label for="saCameraTable">SA Camera</label>
			<table id="saCameraTable">
				<tr>
					<th class="left"><strong>Status</strong></th>
					<th class="left"><strong>Last updated</strong></th>
				</tr>
				<tr id="saCamera">
					<td class="left status" style="border: 1px solid black;"></td>
					<td class="left updatedTime"></td>
				</tr>
			</table>
		</div>
		
		<div class="fieldServicesDiv">
			<label for="telemetryCleanupTable1">Telemetry Cleanup</label>
			<table id="telemetryCleanupTable1">
				<tr>
					<th class="left"><strong>Status</strong></th>
					<th class="left"><strong>Log</strong></th>
					<th class="left"><strong>Last updated</strong></th>
				</tr>
				<tr id="telemetryCleanup1">
					<td class="left status" style="border: 1px solid black;"></td>
					<td class="left log"></td>
					<td class="left updatedTime"></td>
				</tr>
			</table>
		</div>
		
		<div class="fieldServicesDivLeft">
			<label for="loadAverageTable1">Load Average</label>
			<table id="loadAverageTable1">
				<tr>
					<th class="left"><strong>1 min</strong></th>
					<th class="left"><strong>5 min</strong></th>
				</tr>
				<tr id="loadAverage1">
					<td class="left status1" style="border: 1px solid black;"></td>
					<td class="left status2" style="border: 1px solid black;"></td>
				</tr>
			</table>
		</div>
		
		<div class="fieldServicesDivRight">
			<label for="dataReplicationTable1">Data Replication</label>
			<table id="dataReplicationTable1">
				<tr>
					<th class="left"><strong>Status</strong></th>
					<th class="left"><strong>Log</strong></th>
				</tr>
				<tr id="dataReplication1">
					<td class="left status" style="border: 1px solid black;"></td>
					<td class="left log"></td>
				</tr>
			</table>
		</div>
	</div>
</div> 

<div class="grid-stack-item" data-gs-x="2" data-gs-y="0" data-gs-width="2" data-gs-height="2">
	<div class="grid-stack-item-content">
		<h2>Basecamp Services</h3>
		<!-- put overall field services status here -->

		<div class="fieldServicesDivLeft">
			<label for="videoRecorderTable2">Video Recorder</label>
			<table id="videoRecorderTable2">
				<tr>
					<th class="left"><strong>Status</strong></th>
					<th class="left"><strong>Log</strong></th>
				</tr>
				<tr id="videoRecorder2">
					<td class="left status" style="border: 1px solid black;"></td>
					<td class="left log"></td>
				</tr>
			</table>
		</div>
		
		<div class="fieldServicesDivLeft">
			<label for="loadAverageTable2">Load Average</label>
			<table id="loadAverageTable2">
				<tr>
					<th class="left"><strong>1 min</strong></th>
					<th class="left"><strong>5 min</strong></th>
				</tr>
				<tr id="loadAverage2">
					<td class="left status1" style="border: 1px solid black;"></td>
					<td class="left status2" style="border: 1px solid black;"></td>
				</tr>
			</table>
		</div>
		
		<div class="fieldServicesDivRight">
			<label for="dataReplicationTable2">Data Replication</label>
			<table id="dataReplicationTable2">
				<tr>
					<th class="left"><strong>Status</strong></th>
					<th class="left"><strong>Log</strong></th>
				</tr>
				<tr id="dataReplication2">
					<td class="left status" style="border: 1px solid black;"></td>
					<td class="left log"></td>
				</tr>
			</table>
		</div>
	</div>
</div> 